<ion-header>
  <ion-toolbar>
    <ion-title> Hệ thống ATM </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card>
      <img class="border-image" alt="ATM images" src="assets/camera-image.jpg" />
      <div class="content">
        <ion-card-header>
          <ion-card-title>Chức năng chụp hình</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button color="warning" class="action-button" expand="block"  (click)="takePicture()">
            <ion-icon name="camera-outline"></ion-icon>
            <ion-text class="button-text">
              Chụp hình
            </ion-text>
          </ion-button>
          <ion-button color="danger" class="action-button" expand="block" (click)="navigateToHomePage()">
            <ion-icon name="exit-outline"></ion-icon>
            <ion-text class="button-text">
              Thoát
            </ion-text>
          </ion-button>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
