<ion-header>
  <ion-toolbar>
    <ion-title> Hệ thống ATM </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card>
      <img class="border-image" alt="ATM images" src="assets/profile.jpg" />
      <ion-card-header>
        <ion-card-title>Thông tin tài khoản</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/account-image.jpg" />
            </ion-thumbnail>
            <div class="card-content">
              <ion-label color="danger">ID tài khoản</ion-label>
              <ion-text>
                <h4>
                  {{ userData.email }}
                </h4>
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/amount-image.jpg" />
            </ion-thumbnail>
            <div class="card-content">
              <ion-label color="danger">Số tiền còn lại</ion-label>
              <ion-text> 
                <h4>
                  {{ userData.amount | number:'1.0-0' }} VNĐ
                </h4>
              </ion-text>
            </div>
          </ion-item>
        </ion-list>
        <ion-button color="danger" class="action-button" expand="block" (click)="navigateToHomePage()">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-text class="button-text">
            Thoát
          </ion-text>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
